@model ShipbuildingRollingWeb.Models.DB.ProducerDB

@{
    ViewBag.Title = "Details";
}

@section Body {

<div class="container db-content">
    <div class="row">

        <h2>Сведения</h2>

        <div>
            <h4>Производители</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Назад", "Index")
        </p>
    </div>
</div>
}
